<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HotSmoke_Zw: The Better Choice!</title>

    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <link href="{% static 'css/product.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">

    <link href="{% static 'slick/slick.css' %}" rel="stylesheet">
    <link href="{% static 'slick/slick-theme.css' %}" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <!-- CSS Libraries -->
    {% comment %} <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
     {% endcomment %}
    
    {% block header %}
    {% endblock header %}
    

</head>
<body>
    {% block content %}   
    {% endblock content %}
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    {% comment %} <script src="{% static 'js/form.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/product.js' %}"></script>
    
</body>
</html>